
*
{

}

body
{
	font-family: 'Pacifico', cursive;
	background:  #000 url(https://s-media-cache-ak0.pinimg.com/originals/0f/36/7d/0f367d6db630ee429e6473c77756fcd0.jpg)
	no-repeat fixed center center;
	-webkit-background-size: cover; 
	background-size: cover;
	font-size: 17px;
	color: #091114;
	text-align: center;
}

h1,h2, h3, h4
{
	font-family: 'Pacifico', cursive;
	transition: all 10s;
	margin-top: 0;
	color: #0F513E;
}

h1
{
	font-size: 4em;
}
h2
{
	font-size: 2em;
}
h3
{
	font-size: 1.5em;
}


/*Common estyles */
.page-wrapper
{
	width: 1000px;
	margin: 0 auto;
	text-align: left;
}
section
{
	perspective: 900px;
}
h1
{
   text-align: center;
   margin: 60px 0;
   animation-name: Zen-Garden;
   animation-duration: 3s;
   animation-direction: normal/* la animación se ejecutará hacia detrás. Si se repite, cuando vuelve a empezar parte de la situación inicial.*/;
   animation-delay: 2s;/*ndica el tiempo en segundos (s) o milisegundos (ms) que debe retrasarse el inicio de la animación respecto a lo que sería el momento normal para el comienzo*/
   animation-iteration-count: infinite;
   /* animation: Zen-Garden 5s 2 alternate linear forwards; */
}
h3
{
   text-align: left;
   margin: 0px;
   animation-name: Zen-Garden;
   animation-duration: 3s;
   animation-direction: normal/* la animación se ejecutará hacia detrás. Si se repite, cuando vuelve a empezar parte de la situación inicial.*/;
   animation-delay: 2s;/*ndica el tiempo en segundos (s) o milisegundos (ms) que debe retrasarse el inicio de la animación respecto a lo que sería el momento normal para el comienzo*/
   animation-iteration-count: 1;
   /* animation: Zen-Garden 5s 2 alternate linear forwards; */
}

 h1
{
	margin: 0;
	line-height: 1em;
}

h2
{
	text-align: center;
	color: #049C8A; 
	margin: 0;
	font-family: 'Covered By Your Grace', cursive;

}

@keyframes Zen-Garden{
	
	from {
    margin-left: 100%;
    width: 300%
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

aside ul
{
	margin:0 10px 0 0;
	padding: 0;
	list-style: none;
	background:   rgba(0,0,0,0.4 );
}
aside ul li
{
	padding: 6px 6px;
	border-radius: 6px;
	transition: all .4s;
}
aside ul li:hover
{
	background: rgba(27,211,211,0.9);/*color por donde pasa el mouse en la lista*/
	color: black;
	transform: scale(0.9);s/*cuando pasa el mouse se hace pequeño*/
}
 a
{
	color: #7C1D5E;
	text-decoration: none;
}
a:hover
{
	color:#00000;
}


.main
{
	border-top:1px dashed #FFF;
	margin-top: 40px;
	padding-top: 30px;
}



/*Transaaciones*/

.preamble
{
	background: rgba(120,100,100,0.5);
	border-radius: 8px;
	padding: 15px 15px 5px 15px;
	color: #333;
	box-shadow: 0 5px 40px rgba(0,0,0,0.4);
}


.preamble h3
{
	color: #23524C;
}


.preamble
{
	text-align: left;
	margin: 60px 0;
	animation-name: Zen-Garden;
    animation-duration: 3s;
    animation-direction: normal/* la animación se ejecutará hacia detrás. Si se repite, cuando vuelve a empezar parte de la situación inicial.*/;
    animation-delay: 1s;/*ndica el tiempo en segundos (s) o milisegundos (ms) que debe retrasarse el inicio de la animación respecto a lo que sería el momento normal para el comienzo*/
   animation-iteration-count: 1;
   /* animation: Zen-Garden 5s 2 alternate linear forwards; */
}

.mainsupporting
{
	text-align: left;
	margin: 60px 0;
	animation-name: Zen-Garden;
    animation-duration: 3s;
    animation-direction: normal/* la animación se ejecutará hacia detrás. Si se repite, cuando vuelve a empezar parte de la situación inicial.*/;
    animation-delay: 1s;/*ndica el tiempo en segundos (s) o milisegundos (ms) que debe retrasarse el inicio de la animación respecto a lo que sería el momento normal para el comienzo*/
   animation-iteration-count: 1;
   /* animation: Zen-Garden 5s 2 alternate linear forwards; */
}

.mainsupporting{
	background: rgba(120,100,100,0.5);
	border-radius: 8px;
	padding: 15px 15px 5px 15px;
	color: #333;
	box-shadow: 0 5px 40px rgba(0,0,0,0.4);
}
.mainsupporting h3{

	color: #23524C;
}

.summary
{
	text-align: left;
	margin: 60px 0;
	animation-name: Zen-Garden;
    animation-duration: 3s;
    animation-direction: normal/* la animación se ejecutará hacia detrás. Si se repite, cuando vuelve a empezar parte de la situación inicial.*/;
    animation-delay: 1s;/*ndica el tiempo en segundos (s) o milisegundos (ms) que debe retrasarse el inicio de la animación respecto a lo que sería el momento normal para el comienzo*/
   animation-iteration-count: 1;
   /* animation: Zen-Garden 5s 2 alternate linear forwards; */
}
.summary
{
	background: rgba(120,100,100,0.5);
	border-radius: 8px;
	padding: 15px 15px 5px 15px;
	color: #333;
	box-shadow: 0 5px 40px rgba(0,0,0,0.4);
}
